{% extends 'base.html' %}


{% block content %}
<div class="container">

	<div class="row">

		{% for blog in blogs %}
			<div class="col">
				<div class="card" style="width: 18rem;">
					<img src="..." class="card-img-top" alt="...">
					<div class="card-body">
						<a href="{% url 'article' pk=blog.title|slugify %}"><h3 class="card-title">{{blog.title}}</h></a>
						<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
					</div>
				  </div>
				<p>{{blog.content}}</p>
			</div>
		{% endfor %}
		
	</div>
</div>
{% endblock  %}

{% for author in authors %}
			<h>{{author.name}}</h>
			<h>{{author.description}}</h>
		{% endfor %}